.beneficiosContainer{
    display: flex;
    justify-content: center;
    background: #1B334D;
    /* margin-top: 140px; */
}

.background{
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 120px;
}