html, body {
    margin: 0;
    padding: 0;
  }

  .container2{
    height: 100px;
    background-color: rgb(246, 139, 0);
    margin-bottom: 60px;
  }
  
  
.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 120px;
}


.title{
    padding-top: 40px;
}
@media only screen and (max-width: 800px){
    .mainDiv{
        margin: 10px;
    }
}