.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 120px;
}


.title{
    margin-top: 60px;
}
@media only screen and (max-width: 800px){
    .mainDiv{
        margin: 10px;
    }
}