.carouselContainer {
    padding-top: 90px;
    /* background-color: #3842ff; */
    max-width: 100vw;
    height: 900px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    }
  
  .slideContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .slide {
    flex: 1;
    border-radius: 1%;
    position: absolute;
    width: 50%;
    height: 660px;
    background-position: center;
    background-size: cover;
    transition: background-image 0.2s ease-in-out;
    margin-right: 90px;
    margin-top: 60px;
  }

  .slide2 {
    flex: 1;
    position: absolute;
    width: 30%;
    height: 660px;
    display: flex;
    z-index: 100;
    margin-left: 120px;
    transition: background-image 0.2s ease-in-out;
    flex-direction: column;
    justify-content: center;
    /* background-color: #3842ff; */
    margin-top: 150px;
    text-align: left; /* Justificar el texto a la izquierda */
  }
  
  .title{
    max-width: 500px;
  }

  .contactosbutton {
    border-radius: 20px;
    margin-top: 40px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #1B334D;
    padding: 0.6em 1.2em;
    width: 180px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
  }

  .contactosbutton:hover {
    color: #fff;
    background-color: #0EC9F3;
  }
  
  .arrowButton {
    position: absolute;
    top: 45%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    border-radius: 100%;
    background-color: #ffffff;
    color: #1B334D;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    z-index: 100;
  }

  .arrowButton:hover {
    color: #0EC9F3;
  }

  
  
  .prevButton {
    left: 820px;
  }
  
  .nextButton {
    right: 60px;
  }
  
  .dotsContainer {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    cursor: pointer;
    position: absolute;
    top: 820px;
    right: 460px;
  }
  
  .dot {
    color:#1B334D;
    margin: 0 4px;
    transition: color 0.2s ease-in-out;
  }
  
  .activeDot {
    color: #0EC9F3;
    margin: 0 4px;
    transition: color 0.2s ease-in-out;
  }

  
  @media only screen and (max-width: 800px){
    .title{
        max-width: 280px;
      }
      .dotsContainer {
        top: 80%;
      }
  }
  
  