.fundadoresContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 66px;
    /* margin-top: 80px; */
}

.container2{
    height: 60px;
}

.vismeContainer{
    position: relative;
    width: 100%;
    padding-bottom: 65.25%;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.vismeContainer div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }