.vismeContainer{
    position: relative;
    width: 96%;
    background: #000;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 40px;
  }

  .vismeContainer div {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 950px){
    .contactInfo {
      max-width: 300px;
      padding-bottom: 75px;
      display: flex;
      flex-direction: column;
    }
  
    .contenedorBotones{
      /* position: absolute; */
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: end;
      width: 100%;
      background: #fff;
      /* margin-right: 70px; */
      height: auto;
      /* padding-right: 40px; */
      /* left: 0; */
      /* bottom: 0; */
      margin-right: -20px;
      right: 0;
    }
    .leftColumn {
      flex-direction: column-reverse;
    }
  }
  @media only screen and (max-width: 950px){
    .vismeContainer{
      height: 560px;

    }
  }

  @media only screen and (max-width: 750px){
    .vismeContainer{
      height: 460px;

    }
  }
    

  
