/* footer.module.css */
.footer {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  width: 100%;
  /* background-color: #333; */
  color: #fff;
  /* padding: 20px; */
}

.leftColumn {
  background: #1B334D;
  backdrop-filter: blur(8px);
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
  align-items: center;
}

.contactInfo h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 15px;
}

.contactInfo p {
  font-size: 16px;
  max-width: 500px;
  margin: 0;
}

.contenedorBotones{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 150px;
  background: #fff;
  margin-right: 70px;
  height: 300px;
  padding-right: 40px;
  left: 0;
}

.botones {
  display: flex;
  background: #1B334D;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  margin: 10px 0; 
  padding: auto; 
}

.botones:hover{
  background:#fff;
  transition: 0.5s;
}

.botones a svg {
  color: #fff;
  width: auto;
  height: 40px;
  width: 40px;
  padding: 12px;
}

.botones a svg:hover{
  color: #1B334D;
  transition: 0.5s;
}

@media only screen and (max-width: 950px){
  .contactInfo {
    max-width: 300px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
  }

  .contenedorBotones{
    /* position: ; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    background: #fff;
    margin-right: 70px;
    height: auto;
    /* padding-right: 40px; */
    /* left: 0; */
    bottom: 0;
  }
}
