/* footer.module.css */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: #fff;
  /* padding: 20px; */
}

.leftColumn {
  background: #0888ff86;
  backdrop-filter: blur(8px);
  flex: 1;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  text-align: start;
  align-items: center;
}

.contactInfo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contactInfo p {
  font-size: 16px;
  max-width: 500px;
  margin: 0;
}

.rightColumn {
  flex: 1;
  padding-left: 20px;
}

.contenedorBotones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 150px;
  background: #ff3636;
  margin-right: 70px;
  height: 300px;
  padding-right: 40px;
}

.botones {
  display: flex;
  background: #D99748;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  margin: 10px 0; 
  padding: auto; 
}

.botones:hover{
  background:#fff;
  transition: 0.5s;
}

.botones a svg {
  color: #fff;
  width: auto;
  height: 40px;
  width: 40px;
  padding: 12px;
}

.botones a svg:hover{
  color: #D99748;
  transition: 0.5s;
}
