.contenedor {
    background: #ff4848;
    width: 100%;
    /* height: 2100px; */
  }

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 66px;
    margin-left: 66px;
    margin-right: 66px;
}


.title{
    padding-top: 40px;
}

@media only screen and (max-width: 800px){
    .mainDiv{
        margin: 10px;
    }
}