:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container2{
  height: 60px;
}

a {
  font-weight: 500;
  color: #1B334D;
  text-decoration: inherit;
}
a:hover {
  color: #000dff;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#1B334D;
}

button {
  border: none;
  color: #000;
  padding: 0.6em 1.2em;
  width: 180px;
  height: 60px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: gray;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  /* border-color: #ffff; */
  
  background-color: #00277c;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
