.linkMenu{
    text-decoration: none;
}

.nav{
    width: 100%;
    display: flex;
    padding: 0px;
    position: absolute;
    margin-top: -76px;
    margin-left: -8px;
    margin-bottom: 10px;
}

.logo img{
    width: auto;
    /* background-color: #015aff; */
    margin-left: 20px;
    z-index: 1000;
}

.items{
    margin-left: 1280px;
    display: flex; 
}

.items .itemsDiv{
    font-size: 20px;
    margin: 20px;
    color: #015aff;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}

.items .itemsDiv:hover{


}
