.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #1B334D;
    color: #fff;
    padding: 10px 80px;
    z-index: 1000000000;
  }
  
  .logo {
    width: 150px;
    height: 60px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    margin: 0 16px;
    text-decoration: none;
    
    color: #fff;
    font-size: 16px;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .menu a:hover {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-decoration: underline 3px #fff;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 40px;
    }
  
    .menu {
      margin-top: 20px;
    }
  
    .menu ul {
      display: none;
      flex-direction: column;
    }
  
    .menu li {
      margin: 50px 0;
    }
  }
  