/* ContactUs.module.css */
form {
    display: flex;
    align-items: st;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  label {
    max-width: 400px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"]
  {
    max-width: 480px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  textarea{
    max-width: 480px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-height: 100px;
  }
  
  input[type="submit"] {
    max-width: 500px;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    /* border-radius: 3px; */
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  